.warning {
  background-color: rgb(238, 194, 194);
  color: rgb(238, 56, 56);
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
